<div class="main-comp content">
  <h1> Ruka </h1>
  <b>Hi there, Welcome to Ruka!</b>
  <br/><br/>
  The concept is to make a non-verbal way to a product where users could access
  their smart home system by using a hand gesture.
  The product will smartly analyze users hand gesture and do certain commands that are set beforehand.
  <br/>

  <div class="row">
    <div class="col-4">
      <b>How to use Ruka</b>
      <br/><br/>
      Use 'Five' Hand Gesture to Start and to End the command
      <br/><br/>
      Between start and end, there will be 2 hand gestures you could do in order to run a command.
    </div>
    <div class="col-4">
      <b>Two Hand Gestures</b><br/>
      <br/>( 4, 0 ) Show the news
      <br/>( 4, 1 ) Show entertainment news
      <br/>( 4, 2 ) Show technology news
      <br/>( 3, 0 ) Show the weather now
    </div>
    <div class="col-4">
      <b>(cont. ) Two Hand Gestures</b><br/>
      <br/>( 2, 0 ) Make an alarm tomorrow at 6
      <br/>( 1, 0 ) Turn off all lights
      <br/>( 1, 2 ) Turn on all lights
      <br/>( 3, 2 ) Show the notification
    </div>
  </div>

  <button class="btn btn-dark" (click)="gotoHome()">Turn on Ruka</button>
</div>
